


			/*Header*/
.nav-item a{
	text-decoration: underline;
}
h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 160px;
	line-height: 0.8;
}
.span-1{
	font-size: 180px;
}
.header-text{
	margin-top: 140px;
}
.jumb-1{
	background-image: url("images/header-img.png");
	background-position: 69% top;
	box-shadow: 100px rgba(36, 70, 105, 0.74);
	height: 805px;
	padding-top: 20px;
}
.layer{
	position: absolute;
	opacity: 0.0701960784313726;
	width: 100%;
	height: 805px;
}



			/*01 section*/

.p1{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
.p2{
	font-family: 'Lato', sans-serif;
}
.span-2{
	color: #414F6B;
	font-size: 150px;
}
.span-3{
	color: #252B46;
	font-size: 35px;
	position: relative;
	bottom: 30px;
	margin-left: -30px;
}
.jumb-2{
	background-image: url("images/Bg-1.png");
	height: 1100px;
	margin-bottom: 0;
}
.caro{
	background-color: #252B46;
	position: absolute;
	top: 1790px;
	z-index: 1;
	padding: 20px 220px 20px 270px;
	width: 100%;
}



			/*02 section*/

.jumb-3{
	background-image: url("images/mount-1.png");
	background-position: 50% 50%;
	height: 500px;
	margin-bottom: 0;
}
.jumb-4{
	background-image: url("images/mount-2.png");
	background-position: 50% 50%;
	height: 500px;
	margin-bottom: 0;
}
.tabs{
	background-color: #252B46;
	padding: 10px 0 10px 250px;
}
.tab-1{
	color: #414F6B;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-right: 10px;
}
.clicked{
	background-color: #414F6B;
	color: #252B46;
	text-decoration: underline;
}
.climb{
	margin-left: 250px;
}


			/*Footer*/

footer{
	background-color: #252B46;
	padding: 20px 0;
}
footer p{
	color: #414F6B;
}


			/*Alignment*/

.ca{
	text-align: center;
}
.la{
	text-align: left;
}
.ra{
	text-align: right; 
}



			/*Padding*/

.p-0{
	padding: 0;
}
.pt-10{
	padding-top: 10px;
}
.pt-30{
	padding-top: 30px;
}



			/*Margin*/
.mb-0{
	margin-bottom: 0;
}
.mt-70{
	margin-top: 90px;
}
.ml-50{
	margin-left: 50px;
}
.ml-250{
	margin-left: 250px;
}
.mr-200{
	margin-right: 200px;
}
.mr-300{
	margin-right: 300px;
}


.hide{
	display: none;
}
.mobile{
	display: none;
}
.screen{
	display: block;
}


@media only screen and (max-device-width: 600px){
	h1{
		font-size: 70px;
	}
	.span-1{
		font-size: 70px;
	}
	.ml-250{
		margin-left: 50px;
	}
	.mr-200{
		margin-right: 30px;
	}
	.mr-300{
		margin-right: 30px;
	}
	.caro{
		padding: 20px 30px 20px 50px;
		height: auto;
	}
	.climb{
		margin-left: 50px;
	}
	.climb-img{
		height: 130px ;
		width: 200px ;
	}
	.copy{
		font-size: 13px;
	}
	.tabs{
		padding: 10px 0 10px 50px;
	}
	.screen{
		display: none;
	}
	.mobile{
		display: block;
	}
	.text-02{
		margin-top: 80px;
	}
}


@media only screen and (min-device-width: 601px) and (max-device-width: 900px){
	h1{
		font-size: 80px;
	}
	.span-1{
		font-size: 90px;
	}
	.ml-250{
		margin-left: 50px;
	}
	.mr-200{
		margin-right: 30px;
	}
	.mr-300{
		margin-right: 30px;
	}
	.caro{
		padding: 20px 30px 20px 50px;
		height: auto;
	}
	.climb{
		margin-left: 50px;
	}
	.climb-img{
		height: 130px ;
		width: 200px ;
	}
	.copy{
		font-size: 13px;
	}
	.tabs{
		padding: 10px 0 10px 50px;
	}
	.screen{
		display: block;
	}
	.mobile{
		display: none;
	}
	.text-02{
		margin-top: 300px;
	}
}